/*

Custom CSS – can use framework, but can’t just import/link Bookstrap
Mobile first design
see wireframes in notebook

*/

/*Set properties for non-mobile devices*/
@media (mid-width: 768px){
    body {
        font-size: 1.5em;
    }
}

/*Set fonts, spacing, etc.*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    line-height: 1.5;
    padding: 2em 2em 4em;
}

/*Make headers pink and set weight and height*/
h1, h2{
    color: #e26563;
    font-weight: 600;
    line-height: 1.3;
}

/*Set color of hyperlinks*/
a {
    color: #0083e8;
}

