/*Make headers pink and set weight and height*/
.pink {
    color: #e26563;
}

/*Add responsive typography*/
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding: 2em 2em 4em;
  font-weight: 500;
}

@media (min-width:576px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width:768px)  {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width:992px) {
  html {
    font-size: 1.2rem;
  }
}

/*Sticky footer*/
.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;
}